body {
    background-color: lightgrey;
}

header,footer {
    background-color: lightblue;
    border-style: double;

}

h1 {
    font-style: italic;
    color: #004D99;
}

h2 {
    color: #009966;
}

h3 {
    color: #4C00E6;
}

html * {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 50%;
    width: 50%;
}

ol, ul {
    list-style: none;
}

a:hover {
    color: #FF4D4D;
}
